<DOCTYPE! html>
    <html>

    <head>
        <title>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/style.css">
        <style>
            .center {
            display: flex;
            align-items: center;
            justify-content: center;
            }

        </style>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Grocery Management System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  
                </ul>
                <!-- <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
              </div>
            </div>
        </nav>

        <main>
            <div id="login" class="container-fluid text-center pt-5 ">
                <div class="display-2 my-5">Manager Login</div>
            </div>
            <div>
                <form action="/managerlogin" method="post" id="create-form">
                    <div class="mb-3 mt-3 text-center d-flex justify-content-center">

                        <label for="Login Id">Username  </label>
                        <br />
                        <input type="text" class="form-control ml-5" id="id" placeholder="Enter username" name="username"
                            style="width: 400px" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <label for="pwd" class="form-label">Password   </label>
                        <br />
                        <input type="password" class="form-control ml-5 " id="pwd" placeholder="Enter password"
                            name="pwd" style="width: 400px" required>
                    </div>
                    <div class="center">
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="center">
                        {% if error %}
                        <p>{{ error }}</p>
                        {% endif %}
                    </div>
                    <div class="center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

        </main>
    </body>
</html>      